---
---

@import "{{ site.theme }}";

.project-name a {
    color: #FFF;
    text-decoration: none;
}

.project-name a {
    color: #FFF;
    text-decoration: none;
}

.project-tagline a {
    color: #FFF;
    text-decoration: none;
}

.project-tagline a {
    color: #FFF;
    text-decoration: none;
}


