<!DOCTYPE html>
<html lang="{{ page.lang | default: "en-US" }}">
  <head>

    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name"><a href="/">{{ page.title | default: site.title }}</a></h1>
<!--
      <h2 class="project-tagline"><a href="/">{{ page.description | default: site.description }}</a></h2>
-->
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if page.url == "/" %}
        {% else %}
          {% if page.url contains "/lad/" %}
             <span class="site-footer-credits"><a href="/">Kaza</a> | <a href="/lad/">Ladino</a></span>
          {% endif %}
          {% if page.url contains "/en/" %}
             <span class="site-footer-credits"><a href="/">Home</a> | <a href="/en/">Home</a>  | <a href="/en/about">about</a></span>
          {% endif %}
        {% endif %}
      </footer>
    </main>

  </body>
</html>

